In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

In [3]:
dataset = pd.read_csv("lutadores.csv")

In [4]:
df = pd.DataFrame(dataset)

In [5]:
df.head()

,id,nome_lutador,apelido,sexo,categoria,win,lose,draw,precisao_striking,sig_pe_str,...,media_knockdowns,tempo_medio,sig_head_str,sig_body_str,sig_leg_str,idade_lutador,altura_lutador,peso_lutador,link_corpo,link_rosto
0,1,nassourdine imavov,The Sniper,M,Peso-médio,16,4,0,0.56,0.70,...,0.19,863,4.81,1.41,0.81,29,75.0,185.0,https://ufc.com/images/styles/athlete_bio_full...,https://ufc.com/images/styles/event_results_at...
1,2,benoit saint denis,NaN,M,Peso-leve,14,3,0,0.56,0.59,...,0.88,453,2.08,1.06,0.52,29,71.0,156.0,https://ufc.com/images/styles/athlete_bio_full...,https://ufc.com/images/styles/event_results_at...
2,3,bolaji oki,Zulu Warrior,M,Peso-leve,10,2,0,0.45,0.95,...,0.41,545,1.89,0.51,0.16,29,70.0,155.5,https://ufc.com/images/styles/athlete_bio_full...,https://ufc.com/images/styles/event_results_at...
3,4,modestas bukauskas,The Baltic Gladiator,M,Peso meio-pesado,18,6,0,0.43,0.88,...,0.16,576,2.23,0.58,0.32,31,75.0,203.0,https://ufc.com/images/styles/athlete_bio_full...,https://ufc.com/images/styles/event_results_at...
4,5,fares ziam,Smile Killer,M,Peso-leve,17,4,0,0.52,0.70,...,0.12,801,2.23,0.67,0.52,27,73.0,156.0,https://ufc.com/images/styles/athlete_bio_full...,https://ufc.com/images/styles/event_results_at...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2375 entries, 0 to 2374
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     2375 non-null   int64
 1   nome_lutador           2375 non-null   object
 2   apelido                1628 non-null   object
 3   sexo                   2375 non-null   object
 4   categoria              2375 non-null   object
 5   win                    2375 non-null   int64
 6   lose                   2375 non-null   int64
 7   draw                   2375 non-null   int64
 8   precisao_striking      2375 non-null   float64
 9   sig_pe_str             2375 non-null   float64
 10  sig_clinch_str         2375 non-null   float64
 11  sig_solo_str           2375 non-null   float64
 12  method_ko_tko          2375 non-null   float64
 13  method_dec             2375 non-null   float64
 14  method_fin             2375 non-null   float64
 15  golpes_sig_conectados  2375 non-null   float64
 16  golpes_sig_absorvidos  2375 non-null   float64
 17  media_quedas           2375 non-null   float64
 18  media_fin              2375 non-null   float64
 19  defesa_golpes_sig      2375 non-null   float64
 20  defesa_quedas          2375 non-null   float64
 21  media_knockdowns       2375 non-null   float64
 22  tempo_medio            2375 non-null   int64
 23  sig_head_str           2375 non-null   float64
 24  sig_body_str           2375 non-null   float64
 25  sig_leg_str            2375 non-null   float64
 26  idade_lutador          2375 non-null   int64
 27  altura_lutador         2375 non-null   float64
 28  peso_lutador           2375 non-null   float64
 29  link_corpo             2375 non-null   object
 30  link_rosto             2375 non-null   object
dtypes: float64(19), int64(6), object(6)
memory usage: 575.3+ KB

In [7]:
df = df.drop(columns=['id','apelido','link_corpo','link_rosto'])

In [8]:
df.head()

,nome_lutador,sexo,categoria,win,lose,draw,precisao_striking,sig_pe_str,sig_clinch_str,sig_solo_str,...,defesa_golpes_sig,defesa_quedas,media_knockdowns,tempo_medio,sig_head_str,sig_body_str,sig_leg_str,idade_lutador,altura_lutador,peso_lutador
0,nassourdine imavov,M,Peso-médio,16,4,0,0.56,0.70,0.17,0.13,...,0.59,0.79,0.19,863,4.81,1.41,0.81,29,75.0,185.0
1,benoit saint denis,M,Peso-leve,14,3,0,0.56,0.59,0.20,0.22,...,0.42,0.71,0.88,453,2.08,1.06,0.52,29,71.0,156.0
2,bolaji oki,M,Peso-leve,10,2,0,0.45,0.95,0.03,0.02,...,0.62,0.86,0.41,545,1.89,0.51,0.16,29,70.0,155.5
3,modestas bukauskas,M,Peso meio-pesado,18,6,0,0.43,0.88,0.10,0.02,...,0.51,0.78,0.16,576,2.23,0.58,0.32,31,75.0,203.0
4,fares ziam,M,Peso-leve,17,4,0,0.52,0.70,0.12,0.17,...,0.65,0.70,0.12,801,2.23,0.67,0.52,27,73.0,156.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2375 entries, 0 to 2374
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   nome_lutador           2375 non-null   object
 1   sexo                   2375 non-null   object
 2   categoria              2375 non-null   object
 3   win                    2375 non-null   int64
 4   lose                   2375 non-null   int64
 5   draw                   2375 non-null   int64
 6   precisao_striking      2375 non-null   float64
 7   sig_pe_str             2375 non-null   float64
 8   sig_clinch_str         2375 non-null   float64
 9   sig_solo_str           2375 non-null   float64
 10  method_ko_tko          2375 non-null   float64
 11  method_dec             2375 non-null   float64
 12  method_fin             2375 non-null   float64
 13  golpes_sig_conectados  2375 non-null   float64
 14  golpes_sig_absorvidos  2375 non-null   float64
 15  media_quedas           2375 non-null   float64
 16  media_fin              2375 non-null   float64
 17  defesa_golpes_sig      2375 non-null   float64
 18  defesa_quedas          2375 non-null   float64
 19  media_knockdowns       2375 non-null   float64
 20  tempo_medio            2375 non-null   int64
 21  sig_head_str           2375 non-null   float64
 22  sig_body_str           2375 non-null   float64
 23  sig_leg_str            2375 non-null   float64
 24  idade_lutador          2375 non-null   int64
 25  altura_lutador         2375 non-null   float64
 26  peso_lutador           2375 non-null   float64
dtypes: float64(19), int64(5), object(3)
memory usage: 501.1+ KB

In [10]:
df = pd.get_dummies(df, columns=['sexo'], dtype=int)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2375 entries, 0 to 2374
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   nome_lutador           2375 non-null   object
 1   categoria              2375 non-null   object
 2   win                    2375 non-null   int64
 3   lose                   2375 non-null   int64
 4   draw                   2375 non-null   int64
 5   precisao_striking      2375 non-null   float64
 6   sig_pe_str             2375 non-null   float64
 7   sig_clinch_str         2375 non-null   float64
 8   sig_solo_str           2375 non-null   float64
 9   method_ko_tko          2375 non-null   float64
 10  method_dec             2375 non-null   float64
 11  method_fin             2375 non-null   float64
 12  golpes_sig_conectados  2375 non-null   float64
 13  golpes_sig_absorvidos  2375 non-null   float64
 14  media_quedas           2375 non-null   float64
 15  media_fin              2375 non-null   float64
 16  defesa_golpes_sig      2375 non-null   float64
 17  defesa_quedas          2375 non-null   float64
 18  media_knockdowns       2375 non-null   float64
 19  tempo_medio            2375 non-null   int64
 20  sig_head_str           2375 non-null   float64
 21  sig_body_str           2375 non-null   float64
 22  sig_leg_str            2375 non-null   float64
 23  idade_lutador          2375 non-null   int64
 24  altura_lutador         2375 non-null   float64
 25  peso_lutador           2375 non-null   float64
 26  sexo_F                 2375 non-null   int64
 27  sexo_M                 2375 non-null   int64
dtypes: float64(19), int64(7), object(2)
memory usage: 519.7+ KB

In [12]:
df.tail(10)

,nome_lutador,categoria,win,lose,draw,precisao_striking,sig_pe_str,sig_clinch_str,sig_solo_str,method_ko_tko,...,media_knockdowns,tempo_medio,sig_head_str,sig_body_str,sig_leg_str,idade_lutador,altura_lutador,peso_lutador,sexo_F,sexo_M
2365,guy mezger,Peso-médio,44,13,6,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,55,73.0,199.0,0,1
2366,mark kerr,Peso-pesado,13,3,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,54,72.0,250.0,0,1
2367,eric martin,Peso-pesado,1,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0,1
2368,don frye,Peso-pesado,11,1,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,57,73.0,210.0,0,1
2369,mark schultz,Nan,1,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0,1
2370,zane frazier,Peso-pesado,0,2,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0,78.0,230.0,0,1
2371,trent jenkins,Peso-médio,0,2,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0,74.0,185.0,0,1
2372,gerry harris,Nan,1,4,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0,80.0,0.0,0,1
2373,patrick smith,Peso-pesado,4,2,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,59,74.0,225.0,0,1
2374,kevin rosier,Nan,1,2,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0,1

In [13]:
df = df[(df['idade_lutador'] != 0) & (df['categoria'].notna())]
df = df.reset_index(drop=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2268 entries, 0 to 2267
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   nome_lutador           2268 non-null   object
 1   categoria              2268 non-null   object
 2   win                    2268 non-null   int64
 3   lose                   2268 non-null   int64
 4   draw                   2268 non-null   int64
 5   precisao_striking      2268 non-null   float64
 6   sig_pe_str             2268 non-null   float64
 7   sig_clinch_str         2268 non-null   float64
 8   sig_solo_str           2268 non-null   float64
 9   method_ko_tko          2268 non-null   float64
 10  method_dec             2268 non-null   float64
 11  method_fin             2268 non-null   float64
 12  golpes_sig_conectados  2268 non-null   float64
 13  golpes_sig_absorvidos  2268 non-null   float64
 14  media_quedas           2268 non-null   float64
 15  media_fin              2268 non-null   float64
 16  defesa_golpes_sig      2268 non-null   float64
 17  defesa_quedas          2268 non-null   float64
 18  media_knockdowns       2268 non-null   float64
 19  tempo_medio            2268 non-null   int64
 20  sig_head_str           2268 non-null   float64
 21  sig_body_str           2268 non-null   float64
 22  sig_leg_str            2268 non-null   float64
 23  idade_lutador          2268 non-null   int64
 24  altura_lutador         2268 non-null   float64
 25  peso_lutador           2268 non-null   float64
 26  sexo_F                 2268 non-null   int64
 27  sexo_M                 2268 non-null   int64
dtypes: float64(19), int64(7), object(2)
memory usage: 496.3+ KB